.navigation{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 200px ;
    grid-gap: 3px;
    height: 50px;
    background-color: #E5E5E5;
    color: white;
}

.tegs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 200px ;
    grid-gap: 3px;
    height: 50px;
    background-color: #2980B9;
    color: white;
}


.item {
    margin-top: 10px;
}


.navigation button {
    padding:5px;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #2980B9;
    color: #fff;
    font-size: 14px;
}