.opportunities{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    background-color: steelblue;
    color: aliceblue;
}

.item {


}

.opportunities img {
    width: 30px;
    height: 30px;
    margin: 3px;
}