.opencourses {
    display: grid;
    grid-template-rows:  50px 100px  15px;
    grid-template-columns:  300px 300px 300px ;
    grid-gap: 120px;
    margin-bottom: 15px;
    border: none;
}

.item {
    margin-top: 10px ;
    font-size: 15pt;
    margin-bottom: 15px;
}

.opencourses img {
    width: 30px;
    height: 30px;
    margin: 3px;
}